html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.footer {
  text-align: center;
  /* height: 40px; */
  color: white;
  background-color: navy;
}
